{% extends 'main/index.html' %}

{% block title %}
    Listado
{% endblock title %}

{% block header %}

    <style>
        .custom-link {
            text-decoration: none;
            color: black
        }
    </style>
{% endblock header %}

{% block body %}

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Número de matricula</th>
                <th scope="col">Cédula catastral</th>
                <th scope="col">Dirección</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Propietarios</th>
            </tr>
            </thead>
            <tbody>

            {% if not properties %}
                <h2>No existen predios</h2>
            {% else %}
                {% for i in properties %}
                    <tr>
                        <td>{{ i.registration_number }}</td>
                        <td>{{ i.cadastral_id }}</td>
                        {% if i.address %}
                            <td>{{ i.address }}</td>
                        {% else %}
                            <td> - </td>
                        {% endif %}
                        {% if i.name %}
                            <td>{{ i.name }}</td>
                        {% else %}
                            <td> - </td>
                        {% endif %}
                        <td>{{ i.get_type_display }}</td>
                        <td>
                            {% for o in i.owners.all %}
                                - {{ o.identification }} {{ o.name }}
                                <br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

            {% endif %}
            </tbody>
        </table>

        <nav class=" d-grid gap-2 col-1 mx-auto">
            <div class="btn-group" role="group">
                {% if properties.has_previous %}
                    <a type="button"
                       class="btn btn-outline-secondary custom-link" href="?page=1">&laquo;</a>
                    <a type="button"
                       class="btn btn-outline-secondary custom-link" href="?page={{ properties.previous_page_number }}">
                        {{ properties.previous_page_number }}</a>
                {% endif %}
                <button type="button" disabled="disabled" class="btn btn-outline-secondary">
                    <span class="current">{{ properties.number }}</span>
                </button>

                {% if properties.has_next %}
                    <a type="button"
                       class="btn btn-outline-secondary custom-link"
                       href="?page={{ properties.next_page_number }}">
                        {{ properties.next_page_number }}</a>
                    <a type="button"
                       class="btn btn-outline-secondary custom-link" href="?page={{ properties.paginator.num_pages }}">
                        &raquo;</a>
                {% endif %}
            </div>
        </nav>

    </div>

{% endblock body %}